* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
}

header {
    background-color: #222; /* Cor do cabeçalho */
    padding: 20px;
    text-align: center;
}

.logo {
    color: #00d084; /* Cor do título */
    font-size: 36px;
}

main {
    padding: 20px;
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #00d084; /* Cor do botão */
    border: none;
    color: #fff; /* Texto branco no botão */
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #666; /* Cor do botão ao passar o mouse */
}

footer {
    background-color: #222; /* Cor do rodapé */
    padding: 20px;
    text-align: center;
    color: #aaa;
}
